/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

// overwriting snack bar layout
.mat-simple-snackbar {
  justify-content: center !important;
}
